Source: edk2-qualcomm
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,
               dh-exec,
               pandoc,

Package: edk2-qualcomm
Architecture: all
Section: admin
Priority: optional
Depends: ${misc:Depends},
Description: Qualcomm EDK II firmwares
 This package provides the prebuilt Qualcomm EDK II firmwares.

Package: edk2-radxa-dragon-q6a
Architecture: all
Section: admin
Priority: optional
Depends: edk2-qualcomm,
         ${misc:Depends},
Description: Radxa EDK II meta-package for Radxa Dragon Q6A
 This is the meta-package for EDK II.
